html {
    background-color: rgb(13, 42, 82);
    background-size: cover;
    font-family: "Georgia", serif;
}

h1 {
    font-size: 4em;
    text-align:center;
    height: 100px;
    margin-block-start: 1em;
    color: rgb(118, 97, 170);
}

.meme-list {
    text-align: center;
    font-size: large;
    margin-left: 60px;
    color:rgb(209, 199, 234)
}

#meme-image {
    width:400px;
    height:auto;
    margin-left: 175px;
    margin-right: auto;
}

#meme-desc {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#meme-form {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.container {
    display: flex;
    text-align : center;
}